<div class="bg-gray-200 py-20">


    <div class="ml-10 p-10">
      <p class="text-6xl font-light " style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Mon Compte</p>
    </div>



    <div class="ml-10 px-10 grid  grid-cols-3">

      <div class=" flex flex-col gap-5 p-5">
        <p class="text-xl font-bold tracking-widest" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Vous êtes déjà client ?</p>
        <p class="text-lg tracking-widest ">déjà client(e) ?</p>
        <button class="px-12 py-4 border text-lg w-64 text-white bg-slate-800 hover:bg-transparent hover:border-slate-800 hover:text-slate-800 transition duration-300 ease-linear tracking-widest" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">SE CONNECTER</button>
      </div>

      <div class=" flex flex-col gap-5 p-5">
        <p class="text-xl font-bold tracking-widest" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Vous êtes un nouveau client ?</p>
        <p class="text-lg tracking-widest ">Créez simplement un compte T-shop</p>
        <button class="px-12 py-4 border text-lg w-60 text-white bg-slate-800 hover:bg-transparent hover:border-slate-800 hover:text-slate-800 transition duration-300 ease-linear tracking-widest" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">S'INSCRIR</button>
      </div>

      <div class=" flex flex-col gap-5 p-5">
        <p class="text-xl font-bold tracking-widest" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Votre compte</p>
        <p class="text-lg tracking-widest text-justify">Connectez-vous à votre compte T-shop pour avoir accès à vos informations personnelles et suivre vos commandes.</p>
      </div>

    </div>


</div>



