<div class="grid grid-cols-4 px-20 py-20">
  <div class=" col-span-2">
    <img src="assets/images/img.png" class="w-3/2 h-auto">
  </div>
  <div class="col-span-2 py-40">
    <p class="text-4xl font-bold tracking-widest">GET YOUR T-SHIRT NOW ON <span class="text-orange-500">20%</span> Discount</p>
    <p class="tracking-widest mt-5" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam ea repudiandae voluptate ab vero. Modi quibusdam quisquam impedit vitae sint!</p>
    <div class="flex flex-row gap-4  items-center mt-10">
      <button class="px-3 py-2 border hover:shadow-md text-orange-500 rounded transition duration-300"><i class="fa-solid fa-plus text-xl"></i></button>
      <p class="text-xl pt-4 py-2 font-medium text-gray-500">Buy Now</p>
      <hr class="w-1/2 border border-orange-500">
    </div>
  </div>
</div>



<div class="pt-5 flex flex-col justify-center items-center gap-5">
  <p class="text-center font-bold text-4xl pl-4 border-orange-500 border-l-8  text-black" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What We Do</p>
  <div class="bg-gray-200 py-10">
    <p class="text-center font-normal text-4xl tracking-wider text-black" >Discover a world of <span class="font-bold text-orange-500">innovation</span> and <span class="font-bold text-orange-500">convenience</span></p>
    <p class="text-xl font-light px-64 text-center pt-6 text-black" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      Discover a world of innovation and convenience with our
      carefully curated collection of electronic accessories. At our
      store, we pride ourselves on offering top-notch accessories designed
      to enhance and elevate your electronic devices. Whether you're a
      tech enthusiast, a gamer, or someone who simply appreciates the
      power of electronics, we have the perfect accessories for you.
    </p>
  </div>
</div>


<div class="grid grid-cols-3 px-56 py-32 bg-img">
    <div class="col-span-1 flex flex-col justify-center items-center">
      <p class="text-7xl font-light" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">NOS SERVICES</p>
      <p class="tracking-widest mt-10 text-gray-700">Votre cachemire est unique.Grâce à nos services, vous pourrez en profiter longtemps... ou le valoriser !</p>
    </div>
      <div class="col-span-2 ml-52 flex flex-col gap-4">
        <div class="flex gap-3 items-center">
            <img src="assets/images/h1.png" class="w-40 h-auto border p-3">
            <div>
              <p class="text-xl font-bold tracking-wider text-orange-500">LA REPARATION</p>
              <p class=" font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Retouche, remaillage et reprise du cachemire pour chaque pull ou accessoire T-Shop.</p>
              <button class="pt-2 border-b-2 text-gray-400 hover:text-black">DECOUVRIR <i class="mdi mdi-arrow-right"></i></button>
            </div>
        </div>
        <div class="flex gap-3 items-center">
              <img src="assets/images/h1.png" class="w-40 h-auto border p-3">
              <div>
                <p class="text-xl font-bold tracking-wider text-orange-500">L'UP-CYCLING</p>
                <p class=" font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Retouche, remaillage et reprise du cachemire pour chaque pull ou accessoire T-Shop.</p>
                <button class="pt-2 border-b-2 text-gray-400 hover:text-black">DECOUVRIR <i class="mdi mdi-arrow-right"></i></button>
              </div>
        </div>
        <div class="flex gap-3 items-center">
            <img src="assets/images/h1.png" class="w-40 h-auto border p-3">
            <div>
              <p class="text-xl font-bold tracking-wider text-orange-500">LE PRESSING</p>
              <p class=" font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Retouche, remaillage et reprise du cachemire pour chaque pull ou accessoire T-Shop.</p>
              <button class="pt-2 border-b-2 text-gray-400 hover:text-black">DECOUVRIR <i class="mdi mdi-arrow-right"></i></button>
            </div>
        </div>
      </div>
</div>


<div class="text-center flex justify-center items-center px-56">
  <button><i class="fa-solid fa-angles-left text-2xl text-gray-300 p-2 hover:text-orange-500 hover:border-orange-500"></i></button>
  <div>
    <p class="text-6xl font-bold text-gray-300 tracking-widest">T-shop</p>
    <p class="text-2xl text-orange-500  tracking-wide text-center pt-8">The Legacy Evolves.</p>
    <i class="fa-solid fa-quote-left text-center text-7xl text-orange-500 opacity-40 py-5"></i>
    <p class="text-center text-gray-600 px-32 font-light tracking-wider" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus illum harum
     iure, repudiandae odit, minima beatae incidunt ipsam aspernatur ullam eaque quos ut illo dolor impedit odio
     ea nisi voluptates natus? Reprehenderit sint ratione non est dignissimos modi in hic.</p>
     <p class="text-2xl font-extrabold text-white pt-10">- IZEM Bilal</p>
  </div>
  <button><i class="fa-solid fa-angles-right text-2xl text-gray-300  p-2 hover:text-orange-500 hover:border-orange-500"></i></button>
</div>



<div class="pt-10 flex flex-col justify-center items-center w-full px-40">
  <p class="text-center font-bold text-4xl pl-4 border-orange-500 border-l-8 text-black" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">OUR PRODUCTS</p>
  <div class="py-10">
    <p class="text-center font-bold text-4xl tracking-wider">Discover a world of <span class="text-orange-500">innovation</span> and <span class="text-orange-500">convenience</span></p>
  </div>
    <div class="flex flex-col gap-3 p-10">
      <p class="text-black text-xl font-medium tracking-widest">Homme T-Shirt Items</p>
      <div class="grid grid-cols-3 gap-6" >
          <div class="bg-white hover:shadow-md border border-gray-500 transition duration-300 bg-img" *ngFor="let product of hommeProducts">
            <div class="flex flex-col justify-center items-center border-b-2 pb-10">
                <img src="assets/images/{{product.image}}.png" class="w-1/2 h-auto py-5">
                <p class=" text-xl tracking-widest font-semibold">{{product.title}}</p>
                <p class="text-red-600 text-xl font-bold">${{product.price}}.00</p>
                <div class="flex gap-1 justify-center items-center text-xl text-yellow-300">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
            </div>
              <div class="grid grid-cols-5 justify-between items-center">
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-retweet text-center text-2xl"></i></button>
                <button class="py-3 col-span-3 text-orange-500 hover:text-white hover:bg-orange-500 transition duration-300 text-xl font-medium text-center ">Add to Cart</button>
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-heart text-center text-2xl"></i></button>
              </div>
          </div>
     </div>

     <div class="flex flex-col gap-3 pt-10">
      <p class="text-black text-xl font-medium tracking-widest">Femme T-Shirt Items</p>
      <div class="grid grid-cols-3 gap-6" >
          <div class="bg-white hover:shadow-md border border-gray-500 transition duration-300 bg-img" *ngFor="let product of femmeProducts">
            <div class="flex flex-col justify-center items-center border-b-2 pb-10">
                <img src="assets/images/{{product.image}}.png" class="w-1/2 h-auto py-5">
                <p class=" text-xl tracking-widest font-semibold">{{product.title}}</p>
                <p class="text-red-600 text-xl font-bold">${{product.price}}.00</p>
                <div class="flex gap-1 justify-center items-center text-xl text-yellow-300">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
            </div>
              <div class="grid grid-cols-5 justify-between items-center">
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-retweet text-center text-2xl"></i></button>
                <button class="py-3 col-span-3 text-orange-500 hover:text-white hover:bg-orange-500 transition duration-300 text-xl font-medium text-center ">Add to Cart</button>
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-heart text-center text-2xl"></i></button>
              </div>
          </div>
     </div>


     <div class="flex flex-col gap-3 pt-10">
      <p class="text-black text-xl font-medium tracking-widest">Enfant T-Shirt Items</p>
      <div class="grid grid-cols-3 gap-6" >
          <div class="bg-white hover:shadow-md border border-gray-500 transition duration-300 bg-img" *ngFor="let product of enfantProducts">
            <div class="flex flex-col justify-center items-center border-b-2 pb-10">
                <img src="assets/images/{{product.image}}.png" class="w-1/2 h-auto py-5">
                <p class=" text-xl tracking-widest font-semibold">{{product.title}}</p>
                <p class="text-red-600 text-xl font-bold">${{product.price}}.00</p>
                <div class="flex gap-1 justify-center items-center text-xl text-yellow-300">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
            </div>
              <div class="grid grid-cols-5 justify-between items-center">
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-retweet text-center text-2xl"></i></button>
                <button class="py-3 col-span-3 text-orange-500 hover:text-white hover:bg-orange-500 transition duration-300 text-xl font-medium text-center ">Add to Cart</button>
                <button class="py-3 col-span-1 text-gray-400 hover:text-orange-500 transition duration-300"><i class="fa-solid fa-heart text-center text-2xl"></i></button>
              </div>
          </div>
     </div>

</div>
</div>

<!-- component -->

<div class="min-w-screen min-h-screen flex items-center py-5 lg:p-10 overflow-hidden relative">
    <div class="w-full max-w-6xl rounded bg-white p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
        <div class="md:flex items-center -mx-10">
            <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
                <div class="relative">
                    <img src="assets/images/homme/h1.jpg" class="w-full relative z-10 border border-blue-500" alt="">
                </div>
            </div>
            <div class="w-full md:w-1/2 px-10">
                <div class="mb-10">
                    <h1 class="font-bold uppercase text-2xl mb-5">T-SHIRT BLUE COL ROND</h1>
                    <p class="text-sm">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos, voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat saepe, dolor fugit, magnam explicabo eaque quas id quo porro dolorum facilis... <br> <a href="#" class="opacity-50 text-gray-900 hover:opacity-100 inline-block text-xs leading-none border-b border-gray-900">MORE <i class="mdi mdi-arrow-right"></i></a></p>
                </div>
                <div>
                    <div class="inline-block align-bottom mr-5">
                        <span class="text-2xl leading-none align-baseline">$</span>
                        <span class="font-bold text-5xl leading-none align-baseline">59</span>
                        <span class="text-2xl leading-none align-baseline">.99</span>
                    </div>
                    <div class="inline-block align-bottom">
                        <button class="border border-blue-500 hover:shadow-md transition duration-300  px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2 text-blue-600"></i> BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BUY ME A BEER AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
<div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
        <a title="Buy me a beer" href="#" target="_blank" class="block w-16 h-16 rounded-full border transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12">
            <img class="object-cover object-center w-full h-full rounded-full" src="assets/images/logo.png"/>
        </a>
    </div>
</div>
