<div class="bg-gray-200">




    <div class="p-10">
      <p class="text-6xl font-extralight text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">T-shop Maison</p>
      <p class="text-center mt-8 tracking-widest text-gray-600" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Le temps d’une collection exclusive qui invite au voyage et à la flânerie, le savoir-faire d’exception de la Maison T-shop</p>
    </div>

    <div class="py-10">
      <img src="assets/images/hero.jpg" class="w-full" alt="">
    </div>

    <div>
      <p class="text-4xl font-extralight text-center px-36 py-20">“J’AI EU ENVIE D’ASSOCIER LA JUSTESSE DES COULEURS DE T-SHIRT, SON UNIVERS, ET SON ESTHÉTISME, À NOTRE SAVOIR-FAIRE”</p>
    </div>

    <div class="grid grid-cols-2 px-36 py-20 gap-20">
      <img src="assets/images/hero2.jpg" alt="">
      <div class="flex flex-col justify-center">
        <p class="text-2xl font-extralight tracking-widest">Confort, style et couleurs</p>
        <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Chez T-shop, nous avons mis l'accent sur la création de t-shirts qui offrent une expérience
        de port exceptionnelle. Fabriqués à partir de matériaux de haute qualité, nos t-shirts procurent une sensation de douceur et de confort incomparable tout au long de la journée.</p>
        <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Plongez dans un monde de couleurs éclatantes et de nuances captivantes. Que vous préfériez des teintes subtiles ou des tons
          vibrants, notre gamme de couleurs saura satisfaire tous les goûts. Exprimez-vous avec des vêtements qui vous ressemblent.</p>
        <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Explorez notre collection dès aujourd'hui et découvrez le mariage parfait entre le confort exceptionnel,
        le style inégalé et une palette de couleurs infinie pour redéfinir votre expérience du t-shirt.</p>
      </div>
    </div>


    <div class="p-10">
      <p class="text-6xl font-extralight text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">NOS SERVICES</p>
    </div>


    <div class="flex flex-col gap-20 py-10">

      <div class="grid grid-cols-2 px-52  gap-10">
        <img src="assets/images/hero.png" class="w-96 h-auto" alt="">
        <div class="flex flex-col justify-center">
          <p class="text-2xl font-extralight tracking-widest">LE RÉPARATION</p>
          <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">CTelles des magiciennes
            les expertes de notre atelier de retouche / remaillage / reprise prennent en charge chaque pull ou accessoire Eric Bompard endommagé et
            reforment les mailles fil à fil avec un savoir-faire unique. Notre atelier de réparation du cachemire permet de donner une nouvelle
            jeunesse à vos vêtements Eric Bompard mais aussi de contribuer à limiter l’impact environnemental lié à la production.</p>
        </div>
      </div>
      <div class="grid grid-cols-2 px-36 gap-20">
        <div class="flex flex-col justify-center">
          <p class="text-2xl font-extralight tracking-widest">LE PRESSING</p>
          <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Le cachemire est une matière qui aime
            l'eau. C'est pourquoi un pull en cachemire se lave régulièrement, après avoir été porté deux ou trois fois. Le cachemire a besoin de l’eau pour
            garder sa douceur et sa souplesse, mais aussi pour éviter l’apparition de bouloches</p>
          <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Pour rendre votre cachemire Eric Bompard encore plus beau, vous pouvez bénéficier de notre service de pressing professionnel et spécialisé en maille.
          </p>
        </div>
        <img src="assets/images/hero1.png" class="w-96 h-auto" alt="">
      </div>
      <div class="grid grid-cols-2 px-36 gap-20">
        <img src="assets/images/hero2.png" class="w-96 h-auto" alt="">
        <div class="flex flex-col justify-center">
          <p class="text-2xl font-extralight tracking-widest">UP-CYCLING</p>
          <p class="text-gray-700 mt-5 font-extralight" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Dans la lignée de notre engagement
            pour la préservation de l’environnement, Eric Bompard offre la possibilité de retourner votre ancien pull Eric Bompard contre un bon d’achat.
            Cette initiative solidaire s’inscrit dans un partenariat avec l'atelier de réinsertion professionnelle Les Résilientes x Emmaüs Alternatives.</p>
        </div>
      </div>
    </div>


    <div class="px-64 py-20 mt-10">
      <p class="text-6xl font-extralight text-center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">La maisonT-shop s'engage</p>
      <p class="text-center mt-8 tracking-widest text-gray-600" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Consciente des enjeux majeurs
        liés au cachemire, et, plus généralement, à l’industrie textile, la Maison T-shop est engagée à devenir un des
        acteurs principaux de la maille écoresponsable et avec une démarche « slow fashion ».</p>
        <p class="text-center tracking-widest font-bold text-orange-500 mt-16">Illustrations : izem bilal</p>
    </div>



</div>






